.map-wrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #282c34;
}
.map-body {
    margin-bottom: 5vh;
    flex: 1;
    width: 90%;
    height: 80vh;
}
.map-title {
    flex: 1;
    color: white;
}

.marker {
    width:30px;
    height:30px;
    border: 0px solid #000000;
    border-radius: 30px;
    background-color: rgba(30, 30, 30, 0.5);
    flex-direction: row;
    display: flex;
    justify-items: center;
    align-items: center;
}
.marker-text {
    flex: 1;
    color: white;
    font-size: 1.vh;
}